@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

/*Logo*/
.logo img{
    width: 25vw;
    height: 25vh;

    display: flex;
    flex-direction: column;
    margin: auto;
}

/*imagem cabeçalho*/
.imagem{
    margin-top: 5vw;
}

.imagem img{
    max-width: 100vw;
    max-height: 200vh;

    -webkit-mask-image: linear-gradient(180deg, transparent 1%, black 60%, transparent 70%);
}
/*fim imagem cabeçalho*/

/*apresentação paseme*/
.grupo_titulo{
    margin: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.grupo_titulo span{
    font-size: 24px;
    color: #222222;

    text-align: center;
    margin-top: 32px;
}

.grupo_titulo h2{
    font-size: 52px;
    color: #46B7DA;

    font-weight: 600;
    margin-top: 2vw;
}
/*fim apresentação paseme*/

/*sobre paseme*/
.grupo_apresentacao{
    margin: auto;
    margin-top: 8vw;

    display: flex;
    flex-direction: column;

    align-items: center;
    background:linear-gradient(to right, #41C1E9 35%, #2696D4 100%);
}

.grupo_apresentacao .iconeqr img{
    margin-top: 8vw;

    width: 78px;
    height: 78px;

    filter: invert(100%);   /*Troca a cor da imagem para branco*/
}

.grupo_apresentacao div h3{
    font-size: 42px;
    color: #FFFFFF;

    font-weight: 600;
    margin-top: 16px;
}

.grupo_apresentacao .informacao{
    margin-top: 5vw;
    margin-bottom: 8vw;

    font-size: 24px;
    color: #FFFFFF;

    text-align: center;
}
/*fim sobre paseme*/

/*topicos*/
.grupo_topicos{
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 8vw;
}

.grupo_topicos .primeira_linha{
    display: flex;
    flex-direction: row;

    margin: auto;
}

.primeira_linha .card_modern{
    display: flex;
    flex-direction: column;

    align-items: center;
    background: #ECEAEA;
    
    margin-right: 5vw;

    width: 25vw;
    height: 60vh;

    box-shadow: 3px 3px 8px#bfbebe;
}

.card_modern .icone img{
    width: 80px;
    height: 80px;
}

.card_modern h2{
    font-size: 42px;
    font-weight: 600;

    color: #222222;
}

.card_modern div{
    font-size: 20px;
    color: #444444;

    text-align: center;

    margin-top: 5vw;
}
/*fim card moderno*/

/*card inovador*/
.primeira_linha .card_inovador{
    display: flex;
    flex-direction: column;

    align-items: center;

    background: #ECEAEA;
    margin-left: 5vw;

    width: 25vw;
    height: 60vh;

    box-shadow: 3px 3px 8px#bfbebe;
}

.card_inovador .icone img{
    width: 80px;
    height: 80px;
}

.card_inovador h2{
    font-size: 42px;
    font-weight: 600;

    color: #222222;
}

.card_inovador div{
    font-size: 20px;
    color: #444444;

    text-align: center;

    margin-top: 5vw;
}
/*fim card inovador*/

/*card encante*/
.grupo_topicos .segunda_linha{
    display: flex;
    flex-direction: row;

    margin: auto;
    margin-top: 8vw;
}

.segunda_linha .card_encante{
    display: flex;
    flex-direction: column;

    align-items: center;

    background: #ECEAEA;
    margin-right: 5vw;

    width: 25vw;
    height: 60vh;

    box-shadow: 3px 3px 8px#bfbebe;
}

.card_encante .icone img{
    width: 80px;
    height: 80px;
}

.card_encante h2{
    font-size: 42px;
    font-weight: 600;

    color: #222222;
}

.card_encante div{
    font-size: 20px;
    color: #444444;

    text-align: center;

    margin-top: 5vw;
}
/*fim card encante*/

/*card economize*/
.segunda_linha .card_economize{
    display: flex;
    flex-direction: column;

    align-items: center;

    background: #ECEAEA;
    margin-left: 5vw;
    margin-bottom: 8vw;

    width: 25vw;
    height: 60vh;

    box-shadow: 3px 3px 8px#bfbebe;
}

.card_economize .icone img{
    width: 80px;
    height: 80px;
}

.card_economize h2{
    font-size: 42px;
    font-weight: 600;

    color: #222222;
}

.card_economize div{
    font-size: 20px;
    color: #444444;

    text-align: center;

    margin-top: 5vw;
}
/*fim card economize*/

/*formulário*/
.grupo_formulario{
    display: flex;
    flex-direction: column;

    margin: auto;
    align-items: center;

    background:linear-gradient(90deg, #FFFFFF 35%, #EEEEEE 100%);
}

.grupo_formulario .icone_calendario img{    
    width: 60px;
    height: 60px;

    margin-top: 8vw;
}

.grupo_formulario span{
    text-align: center;
    margin-top: 3vw;

    font-size: 24px;
    color: #222222;
}

.grupo_formulario .form{
    display: flex;
    flex-direction: column;

    margin-top: 3vw;
}

.form input{
    width: 27vw;
    height: 6vh;

    background: #DEDEDE;
    color: #5E5959;

    outline: none;

    margin-top: 2vw;
    border-radius: 8px;

    padding-left: 8px;

    box-shadow: inset 0 5px 13px #bfbebe; /*coloca sombra dentro do elemento*/
}

.submit button{
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding-left: 2rem;

    display: flex;
    flex-direction: row;

    align-items: center;
    text-align: center;
    width: 11vw;
    height: 7vh;

    cursor: pointer;

    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;

    border-radius: 6px;

    background:linear-gradient(90deg, #41C1E9 35%, #2696D4 100%);
}

.submit button img{
    width: 27px;
    height: 27px;

    margin-left: 30px;

    filter: invert(100%);
}

.video{
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    margin-top: 8vw;
}

.video span{
    font-size: 24px;
    color: #222222;
}

.video video{
    margin-top: 2vw;
    margin-bottom: 5vw;
}

.grupo_parceiros{
    display: flex;
    flex-direction: column;

    margin-top: 8vw;
    text-align: center;

    padding: 5rem;
}

.grupo_parceiros h2{
    font-size: 32px;
    font-weight: 500;

    color: #222222;
}

.grupo_parceiros p{
    font-size: 20px;
    margin-top: 2vw;
    color: #222222;

    margin-bottom: 5vw;
}
